:local(.head) {
  > .fa {
    font-size: 16px;
    cursor: pointer;
    position: relative;
    &.top {
      bottom: 5px;
      left: 9px;
    }
    &.bottom {
      top: 5px;
    }
    &.active {
      color: #000;
    }
  }
}
