    .App {
        text-align: center;
    }
    
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
        height: 40vmin;
        pointer-events: none;
    }
    
    .App-header {
        font-family: 'Gugi', cursive;
        background-color: #282c34;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-body {
        font-family: 'Indie Flower', cursive;
        animation-duration: 3s;
        animation-name: slidein;
        animation-iteration-count: 1;
        animation-direction: alternate;
        background-color: grey;
        display: flex;
        min-height: 100vh;
        padding-top: 5vh;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        font-size: calc(10px + 2vmin);
        color: white;
    }
    
    .App-footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #282c34;
        color: white;
        text-align: center;
        font-family: 'Titillium Web', sans-serif
    }
    
    .App-link {
        color: #61dafb;
    }
    
    @keyframes slidein {
        from {
            margin-left: 100%;
            width: 300%
        }
        to {
            margin-left: 0%;
            width: 100%;
        }
    }